@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



.logo{
    position:relative; bottom: 60px; left:30px;
}

.logo2{
    position:relative; bottom: 60px; left:30px;
}


.h1{
font-family: 'Open Sans', sans-serif;
font-size: 80px;
position:relative;
top: 80px;
color: black;
}

.b1{
    position:relative;
    top:162px;
    left:600px;
    
}

.b2{
    position:relative;
    top:120px;
    left:850px;
}

