.social-container {
    background: #eee;
    padding: 25px 50px;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }
/* 
  
label{
position:left;
width:30px;
border:0px white;
margin:50px;
padding:10px;
font-family:AR CENA;
font-size:20px;

}

input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid lightgrey;
  width: 100px
} */