.social-container {
    background: #eee;
    padding: 25px 50px;

  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }

  input[type="text"] {
    width:90px;
	height:30px;
	border-radius:5px;
	background-color: lightblue;
	margin-left:300px;
    position:center;
    padding:10px;
}

label{
position:left;
width: 190px;
border:0px white;
margin-left:120px;
padding: 4px 20px;
font-family:AR CENA;
font-size:  24px;
display:inline-block;
color:#64635E;

}

input{
  font-family: sans-serif;
  font-size: 18px;
  color: #000000;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #D4D8DD;

}

