.social-container {
    background: #eee;
    padding: 25px 25px;
    border-width: 0
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }

  /* .profile{
    position:center;
    width:10px;
    border:0px white;
    margin:200px;
    padding:100px;
    font-family:AR CENA;
    font-size:18px;
    
    } */

  /* input[type="text"] {
    width:90px;
	height:30px;
	border-radius:5px;
	background-color: lightblue;
	margin-left:300px;
    position:center;
    padding:10px;
}
input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid lightgrey;
  /* width: 100px */


  .h4{
    color:black;
    font-weight: 600;
}
